body{
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "menu main"
        "footer footer";
    grid-template-columns: 15% auto;
    grid-auto-rows: 100px auto 50px;
    /* gap: 10px; */
}

header {
    grid-area: header;
    background-color: rgb(238, 221, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

menu {
    grid-area: menu;
    background-color: rgb(215, 121, 14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 15px;
}

main {
    grid-area: main;
    background-color: rgb(197, 65, 12);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 15px;

}

footer {
    grid-area: footer;
    background-color: rgb(182, 170, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 190, 86);
    border: solid 1px rgb(217, 124, 25);
}
.card img{
    width: 100%;
}
h1, p{
    margin: 0;
}
.card button{
    background-color: rgb(246, 178, 88);
}